<div class="card">
    <div class="container">
        <div class="row create">
            <div class="col-md-10"></div>
            <div class="col-md-1">
                <button type="button" class="btn btn-dark" routerLink="/sign-up">Create</button></div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-1">
                    <strong>Image</strong>
                </div>
                <div class="col-md-3">
                    <strong>Name</strong>
                </div>
                <div class="col-md-4">
                    <strong>Contact</strong>
                </div>
                <div class="col-md-1">
                    <strong>Status</strong>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-1" routerLink="/profile">
                    <img src="../../../assets/img/img1.jpg" class="avatar" />
                </div>
                <div class="col-md-3">
                    Nguyễn Thị Diễm Trang
                </div>
                <div class="col-md-4">
                    diemtrang596@gmail.com
                </div>
                <div class="col-md-1">
                    Active
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-dark">Edit</button>&nbsp;
                    <button type="button" class="btn btn-dark">Save</button>&nbsp;
                    <button type="button" class="btn btn-light">Cancel</button>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>