<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="my-box">
            <form name="form" #f="ngForm" (ngSubmit)="save(f.form)" class="full-width">
                <div class="card header-margin">
                    <div class="card-header">
                        <strong>Create Account</strong>
                    </div>
                    <div class="card-body">
                        <div class="body row">
                            <div class="col-md 12">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label>Full Name<span class="text-danger">&nbsp;*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control none-border" name="fullName" #fullName="ngModel"
                                            [(ngModel)]="fullName" required="true" />
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class=" row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-7 form-group" style="padding-top: 10px;">
                            <button class="btn btn-primary" type="submit">Save</button>&nbsp;
                            <button class="btn btn-white" type="button" routerLink="../schedule">Cancel</button>
                        </div>
                    </div>
                </div>
            
            </form>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>