<!-- <div class="card">
    <div class="container">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <span>Task Name:</span>
                </div>
                <div class="col-md-10">
                    <input id="email" name="email" type="email" class="form-control" required>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Priority:</span>
                        </div>
                        <div class="col-md-8">
                            <select class="role">
                                <option value="volvo">Medium</option>
                                <option value="volvo">High</option>
                                <option value="volvo">Low</option>
                                <option value="volvo">Not Set</option>
                              </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Status:</span>
                        </div>
                        <div class="col-md-8">
                            <select class="role">
                                <option value="todo">To Do</option>
                                <option value="inProress">Word In Proress</option>
                                <option value="review">Review</option>
                                <option value="verify">Verify</option>
                                <option value="done">Done</option>
                              </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Due Date:</span>
                        </div>
                        <div class="col-md-8">
                            <input name="startDate" #dp="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" type="text" class="form-control" placeholder="Start Date">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Assignee:</span>
                        </div>
                        <div class="col-md-8 role">
                            <input id="email" name="email" type="email" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Original Estimate:</span>
                        </div>
                        <div class="col-md-8">
                            <input id="email" name="email" type="email" class="form-control" required>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <strong>Description</strong>
            </div>
            <div class="row">
                <ckeditor class="ckeditor" data="<p>Hello, world!</p>"></ckeditor>
            </div><br/>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-dark" (click)="create()">Save</button>&nbsp;
                    <button type="button" class="btn btn-light" routerLink="/project">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
 -->

<form name="form" #frm="ngForm" (ngSubmit)="create(frm.form)" class="full-width">
    <div class="card">
        <div class="container">
            <h1 style="text-align: center">New Task</h1>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-4">
                        <span>Task Name:<span class="text-danger">&nbsp;*</span></span>
                    </div>
                    <div class="col-md-8">
                        <input style="width: 100%" type="text" name="title" #title="ngModel" [(ngModel)]="data.title" class="form-control" required>
                        <span *ngIf="title.invalid && (title.touched || frm.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="amoutRequested1" data-valmsg-for="amoutRequested1" id="amoutRequested1_validationMessage" role="alert">
                            <i class="fa fa-exclamation-triangle"></i>&nbsp;Please enter task name requested.
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <span>Due Date:</span>
                    </div>
                    <div class="col-md-8">
                        <input name="dueDate" [(ngModel)]="dueDate" #dp="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" class="form-control" placeholder="Due Date">
                    </div>
                </div>

                <div class="row">
                    <strong>Description</strong>
                </div>
                <div class="row">
                    <ckeditor name="decription" #decription="ngModel" [(ngModel)]="data.decription" class="ckeditor"></ckeditor>

                    <!-- <ckeditor name="description" [(ngModel)]="description" class="ckeditor" data="Hello, world!"> </ckeditor>-->
                </div><br />
                <div class="input-group file-upload">
                    <input type="file" #fileInput (uploadOutput)="onUploadOutput($event)" accept=".pdf,.tiff,.jpeg,.gif,.png" multiple class="file-upload-btn">
                </div><br />
                <div class="form-group">
                    <button type="submit" class="btn btn-success full-width" (click)="create()"> CREATE TASK</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div bsModal #discardModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 [hidden]="modalState=='success'">Confirm</h4>
                <h4 *ngIf="modalState=='success'">{{ title1 }}</h4>
                <button type="button" class="close" (click)="modalState=='success' ? discardAndReset(frm) : discardModal.hide();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body size-text-content-modal text-center">
                <div class="form-group row">
                    <div class="col-md-12 text-bold">
                        <span *ngIf="modalState=='success'">{{ msgInfo }}</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10 row">
                    <div class="col-md-6">
                        <button [hidden]="modalState=='success'" type="button" class="btn btn-white btn-block" (click)="discardModal.hide();">No</button>
                    </div>
                    <div class="col-md-6">
                        <button *ngIf="modalState=='submit'" type="button" class="btn btn-primary btn-block" (click)="discardModal.hide()">Yes</button>
                        <button *ngIf="modalState=='cancel'" type="button" class="btn btn-primary btn-block" (click)="discardModal.hide()">Yes</button>
                    </div>
                    <div class="col-md-12">
                        <button *ngIf="modalState=='success'" type="button" class="btn btn-success btn-block text-bold" (click)="discardModal.hide();">OK</button>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>