<div class="card">
    <div class="container">
        <div class="row">
            <div class="col-md-2" style="padding-top: 18px;">
                <div class="image-container">
                    <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" class=""> <br />
                    <input type='file' name='myInput' (change)="onSelectFile($event)" class="select-profile-picture" #myInput id="file" accept=".png" />
                    <span class="message">Tap here to change your picture</span>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row pro">
                    <div class="col-md-7"><strong>{{data.name}}</strong></div>
                    <button type="button" class="btn btn-dark" (click)="editProfileModal.show()">Edit</button>&nbsp;
                    <button type="button" class="btn btn-dark" (click)="changePassModal.show()">Change Password</button>&nbsp;
                    <button type="button" class="btn btn-light" routerLink="../login">Log out</button>
                </div>
            </div>
        </div>
        <hr/>
        <div class="card header-margin">
            <div class="card header-margin">
                <div class="card-body">
                    <div widget class="card border-0 box-shadow header-margin">
                        <div class="card-body pt-0 widget-body">
                            <div class="table-responsive">
                                <ng2-smart-table class="table table-hover" [settings]="settings" [source]="dataTask"></ng2-smart-table>
                            </div>
                        </div>
                    </div>
                </div>
                <div _ngcontent-c32="" _nghost-c34="" class="ng-star-inserted" style="padding: 1.25rem;" [hidden]="dataTask.length==0">
                    <nav _ngcontent-c34="" class="ng2-smart-pagination-nav ng-star-inserted row">
                        <ul _ngcontent-c34="" class="ng2-smart-pagination pagination col-md-6">
                            <li _ngcontent-c34="" [ngClass]="{'disabled': pager.currentPage === 1}" class="ng2-smart-page-item page-item disabled"><a _ngcontent-c34="" aria-label="First" class="ng2-smart-page-link page-link" (click)="searchClick(1)"><span _ngcontent-c34=""
                                                    aria-hidden="true">«</span><span _ngcontent-c34="" class="sr-only">First</span></a></li>
                            <li [ngClass]="{disabled:pager.currentPage === 1}" _ngcontent-c34="" class="ng2-smart-page-item page-item"><a _ngcontent-c34="" aria-label="Prev" class="ng2-smart-page-link page-link page-link-prev" (click)="searchClick(pager.currentPage - 1)"><span _ngcontent-c34=""
                                                    aria-hidden="true">&lt;</span><span _ngcontent-c34="" class="sr-only">Prev</span></a></li>
                            <li _ngcontent-c34="" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="ng2-smart-page-item page-item ng-star-inserted" (click)="searchClick(page)">
                                <span _ngcontent-c34="" class="ng2-smart-page-link page-link ng-star-inserted">{{page}}<span
                                                    _ngcontent-c34="" class="sr-only">(current)</span></span>
                            </li>
                            <li _ngcontent-c34="" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="ng2-smart-page-item page-item"><a _ngcontent-c34="" aria-label="Next" class="ng2-smart-page-link page-link page-link-next" (click)="searchClick(pager.currentPage + 1)"><span _ngcontent-c34=""
                                                    aria-hidden="true">&gt;</span><span _ngcontent-c34="" class="sr-only">Next</span></a></li>
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" _ngcontent-c34="" class="ng2-smart-page-item page-item"><a _ngcontent-c34="" aria-label="Last" class="ng2-smart-page-link page-link" (click)="searchClick(pager.totalPages)"><span
                                                    _ngcontent-c34="" aria-hidden="true">»</span><span _ngcontent-c34=""
                                                    class="sr-only">Last</span></a></li>
                        </ul>
                        <span class="col-md-6 text-right text-italic">
                                        {{total}} items
                                    </span>
                    </nav>
                </div>
            </div>
            <!-- <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Task</strong>
                    </div>
                    <div class="col-md-5">
                        <strong>Name</strong>
                    </div>
                    <div class="col-md-2">
                        <strong>Word Flow</strong>
                    </div>
                </div>
                <hr/>
                <div class="row" *ngFor="let i of dataTask">
                    <div class="col-md-2" routerLink="/task/{{i.id}}">
                        {{i.project}}-{{i.id}}
                    </div>
                    <div class="col-md-5">
                        {{i.taskName}}
                    </div>
                    <div class="col-md-2">
                        {{i.status}}
                    </div>
                </div>
                <hr/>
            </div> -->
        </div>
    </div>
</div>
<div bsModal #changePassModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document"></div>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Change Password</h5>
        </div>
        <form class="form-horizontal form-label-left input_mask" name="forgotForm">
            <div class="modal-body">
                <div class=" col-md-12 col-sm-12 col-xs-12 ">
                    <div class="form-group">
                        <div class="row input">
                            <label for="oldPass">Old Password</label>
                        </div>
                        <div class="row">
                            <input id="oldPass" name="oldPass" type="text" class="form-control" maxlength="64" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row input">
                            <label for="newPass">New Password</label>
                        </div>
                        <div class="row">
                            <input id="newPass" name="newPass" type="text" class="form-control" maxlength="64" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="changePassModal.hide(); show = false;">Cancel</button>
                <button type="submit" class="btn btn-dark">Change Password</button>
            </div>
        </form>
    </div>
</div>

<div bsModal #editProfileModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document"></div>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Edit Profile</h5>
        </div>
        <form class="form-horizontal form-label-left input_mask" name="forgotForm">
            <div class="modal-body">
                <div class=" col-md-12 col-sm-12 col-xs-12 ">
                    <div class="form-group">
                        <div class="row">
                            <button type="button" class="btn btn-light">Change Image</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row input">
                            <label for="Name">{{data.name}}</label>
                        </div>
                        <div class="row">
                            <input id="newName" name="newName" type="text" class="form-control" maxlength="64" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="editProfileModal.hide(); show = false;">Cancel</button>
                <button type="submit" class="btn btn-dark">Save</button>
            </div>
        </form>
    </div>
</div>