<div class="card">
    <div class="container">
        <form>
            <div class="row">
                <div class="col-md-3"><img src="../../../assets/img/img1.jpg" class="avatar" /></div>
                <div class="col-md-8">
                    <div class="row pro">
                        <div class="col-md-4">TrangNguyen</div>
                        <button type="button" class="btn btn-light">Edit Profile</button>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Contact</div>
                        <div class="col-md-8">diemtrang596@gmail.com</div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <strong>TODO</strong>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                aaa
                            </div>
                            <div class="col-md-9">
                                aaa
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <strong>WORK IN PROGRESS</strong>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                aaa
                            </div>
                            <div class="col-md-9">
                                aaa
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <strong>IN REVIEW</strong>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                aaa
                            </div>
                            <div class="col-md-9">
                                aaa
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <strong>VERIFY</strong>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                aaa
                            </div>
                            <div class="col-md-9">
                                aaa
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <strong>DONE</strong>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                aaa
                            </div>
                            <div class="col-md-9">
                                aaa
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>