<div class="card">
    <div class="container">
        <form>
            <div class="row">
                <div class="col-md-2"><img src="../../../assets/img/img1.jpg" class="avatar" /></div>
                <div class="col-md-10">
                    <div class="row pro">
                        <div class="col-md-7"><strong>{{data.name}}</strong></div>
                        <button type="button" class="btn btn-dark" (click)="editProfileModal.show()">Edit</button>&nbsp;
                        <button type="button" class="btn btn-dark" (click)="changePassModal.show()">Change Password</button>&nbsp;
                        <button type="button" class="btn btn-light" routerLink="../login">Log out</button>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Task</strong>
                    </div>
                    <div class="col-md-5">
                        <strong>Name</strong>
                    </div>
                    <div class="col-md-2">
                        <strong>Word Flow</strong>
                    </div>
                    <div class="col-md-3">
                        <strong>Create On</strong>
                    </div>
                </div>
                <hr/>
                <div class="row" *ngFor="let i of dataTask">
                    <div class="col-md-2" routerLink="/task/{{i.id}}">
                        {{i.project}}-{{i.id}}
                    </div>
                    <div class="col-md-5">
                        {{i.taskName}}
                    </div>
                    <div class="col-md-2">
                        {{i.status}}
                    </div>
                    <div class="col-md-3">
                        2019-Apr-01
                    </div>
                </div>
                <hr/>
            </div>
        </form>
    </div>
</div>

<div bsModal #changePassModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document"></div>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Change Password</h5>
        </div>
        <form class="form-horizontal form-label-left input_mask" name="forgotForm">
            <div class="modal-body">
                <div class=" col-md-12 col-sm-12 col-xs-12 ">
                    <div class="form-group">
                        <div class="row input">
                            <label for="oldPass">Old Password</label>
                        </div>
                        <div class="row">
                            <input id="oldPass" name="oldPass" type="text" class="form-control" maxlength="64" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row input">
                            <label for="newPass">New Password</label>
                        </div>
                        <div class="row">
                            <input id="newPass" name="newPass" type="text" class="form-control" maxlength="64" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="changePassModal.hide(); show = false;">Cancel</button>
                <button type="submit" class="btn btn-dark">Change Password</button>
            </div>
        </form>
    </div>
</div>

<div bsModal #editProfileModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document"></div>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Edit Profile</h5>
        </div>
        <form class="form-horizontal form-label-left input_mask" name="forgotForm">
            <div class="modal-body">
                <div class=" col-md-12 col-sm-12 col-xs-12 ">
                    <div class="form-group">
                        <div class="row">
                            <button type="button" class="btn btn-light">Change Image</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row input">
                            <label for="Name">{{data.name}}</label>
                        </div>
                        <div class="row">
                            <input id="newName" name="newName" type="text" class="form-control" maxlength="64" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="editProfileModal.hide(); show = false;">Cancel</button>
                <button type="submit" class="btn btn-dark">Save</button>
            </div>
        </form>
    </div>
</div>