<div class="card">
    <div class="container">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <h3>{{data.project}}-{{data.id}} {{data.nameTask}}</h3>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-dark" (click)="save()">Save</button>&nbsp;
                    <button type="button" class="btn btn-light">Cancel</button></div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Priority:</span>
                        </div>
                        <div class="col-md-8">
                            {{data.priority}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Status:</span>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" name="status" #status="ngModel" [(ngModel)]="dataReq.status" value="{{data.status}}">
                                <option *ngFor="let i of lstStatus" value="{{i.code}}">{{i.value}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Due Date:</span>
                        </div>
                        <div class="col-md-8">
                            <input type="date" name="dueDate" #dueDate="ngModel" [(ngModel)]="dataReq.dueDate" value="{{data.dueDate}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Original Estimate:</span>
                        </div>
                        <div class="col-md-8">
                            <input type="number" name="originalEstimate" #originalEstimate="ngModel" [(ngModel)]="dataReq.originalEstimate" value="{{data.originalEstimate}}" placeholder="1h">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Assignee:</span>
                        </div>
                        <div class="col-md-8">
                            <select name="asgin" #asign="ngModel" [(ngModel)]="dataReq.asignId" value="{{data.asign}}" class="form-control">
                                <option *ngFor="let i of lstAcc" value="{{i.name}}">{{i.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Reporter:</span>
                        </div>
                        <div class="col-md-8">
                            <span>{{createBy}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Created:</span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" disabled value="{{ data.createOn | date:'dd-MMM-yyyy' }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Updated:</span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" disabled value="{{ data.modifyOn | date:'dd-MMM-yyyy' }}">
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <strong>Description</strong>
            </div>
            <div class="row">
                <ckeditor name="decription" #decription="ngModel" [(ngModel)]="dataReq.decription" class="ckeditor">{{ data.decription }}</ckeditor>
            </div>
            <hr />
            <!-- <div class="row">
                <strong>Comment</strong>
            </div>
            <div class="row">
                <span routerLink="/profile">Nguyen Thi Diem Trang</span> &nbsp; added a comment - 08-Oct-18 6:48 PM
            </div>
            <div class="row">
                abc
            </div>
            <div class="row">
                <ckeditor class="ckeditor" data="Hello, world!"></ckeditor>
            </div><br />
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-dark">Add</button>&nbsp;
                    <button type="button" class="btn btn-light">Cancel</button></div>
            </div> -->
        </div>
    </div>

    <div bsModal #discardModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 [hidden]="modalState=='success'">Confirm</h4>
                    <h4 *ngIf="modalState=='success'">{{ title1 }}</h4>
                    <button type="button" class="close" (click)="modalState=='success' ? discardAndReset(frm) : discardModal.hide();" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body size-text-content-modal text-center">
                    <div class="form-group row">
                        <div class="col-md-12 text-bold">
                            <span *ngIf="modalState=='success'">{{ msgInfo }}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10 row">
                        <div class="col-md-6">
                            <button [hidden]="modalState=='success'" type="button" class="btn btn-white btn-block" (click)="discardModal.hide();">No</button>
                        </div>
                        <div class="col-md-6">
                            <button *ngIf="modalState=='submit'" type="button" class="btn btn-primary btn-block" (click)="discardModal.hide()">Yes</button>
                            <button *ngIf="modalState=='cancel'" type="button" class="btn btn-primary btn-block" (click)="discardModal.hide()">Yes</button>
                        </div>
                        <div class="col-md-12">
                            <button *ngIf="modalState=='success'" type="button" class="btn btn-success btn-block text-bold" (click)="discardModal.hide();">OK</button>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>