<div class="card">
    <div class="container">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <h3>{{data.project}}-{{data.id}} {{data.nameTask}}</h3>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-dark">Save</button>&nbsp;
                    <button type="button" class="btn btn-light">Cancel</button></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Priority:</span>
                        </div>
                        <div class="col-md-8">
                            {{data.priority}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Status:</span>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" name="status" #status="ngModel" [(ngModel)]="data.status" value="{{data.status}}">
                                <option *ngFor="let i of lstStatus" value="{{i.code}}">{{i.value}}</option>
                                </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Due Date:</span>
                        </div>
                        <div class="col-md-8">
                            <input type="date" name="dueDate" #dueDate="ngModel" [(ngModel)]="data.dueDate" value="{{data.dueDate}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Original Estimate:</span>
                        </div>
                        <div class="col-md-8">
                            <input type="number" name="originalEstimate" #originalEstimate="ngModel" [(ngModel)]="data.originalEstimate" value="{{data.originalEstimate}}" placeholder="1h">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Assignee:</span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="asign" #asign="ngModel" [(ngModel)]="data.asign" value="{{data.asign}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Reporter:</span>
                        </div>
                        <div class="col-md-8">
                            <span>{{createBy}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Created:</span>
                        </div>
                        <div class="col-md-8">
                            <span>{{data.createOn}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <span>Updated:</span>
                        </div>
                        <div class="col-md-8">
                            <span>{{data.modifyOn}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <strong>Description</strong>
            </div>
            <div class="row">
                <ckeditor class="ckeditor" data="{{data.decription}}"></ckeditor>
            </div>
            <hr/>
            <div class="row">
                <strong>Comment</strong>
            </div>
            <div class="row">
                <span routerLink="/profile">Nguyen Thi Diem Trang</span> &nbsp; added a comment - 08-Oct-18 6:48 PM
            </div>
            <div class="row">
                abc
            </div>
            <div class="row">
                <ckeditor class="ckeditor" data="<p>Hello, world!</p>"></ckeditor>
            </div><br/>
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-dark">Add</button>&nbsp;
                    <button type="button" class="btn btn-light">Cancel</button></div>
            </div>
        </div>
    </div>
</div>