<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="col-md-4">
            <a class="navbar-brand">Project Manager</a></div>
        <div class="col-md-6">
        </div>
        <div routerLink="/profile" class="col-md-1">Profile</div>
        <div routerLink="/notification" class="col-md-1 noti">Notification</div>
    </div>
</nav>
<section class="format-layout">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <strong>Project</strong><span style="float:right">Create</span>
                </div>
                <dl>
                    <dd class="dldd" routerLink="/project">PM</dd>
                    <dd class="dldd" routerLink="#">PM</dd>
                    <dd class="dldd" routerLink="#">PM</dd>
                    <dd class="dldd" routerLink="#">PM</dd>
                </dl>
            </div>
            <br/>
            <div class="card">
                <div class="card-header">
                    <strong>Account</strong><span style="float:right" routerLink="/accounts">View All</span>
                </div>
                <dl>
                    <dd class="dldd" routerLink="/profile"><img src="../../../assets/img/img1.jpg" class="avatar" />PM</dd>
                    <dd class="dldd" routerLink="#"><img src="../../../assets/img/img1.jpg" class="avatar" />PM</dd>
                    <dd class="dldd" routerLink="#"><img src="../../../assets/img/img1.jpg" class="avatar" />PM</dd>
                </dl>
            </div>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>