<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="col-md-4">
            <a class="navbar-brand">Project Manager</a></div>
        <div class="col-md-5">
        </div>
        <div routerLink="/profile" class="col-md-3">
            <p class="name">{{data.name}}</p>
        </div>
        <!-- <div routerLink="/notification" class="col-md-1 noti">Notification</div> -->
    </div>
</nav>
<section class="format-layout">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <strong>Project</strong>
                    <span style="float:right" routerLink="/project-new">Create</span>
                </div>
                <dl *ngFor="let j of dataPro">
                    <dd class="dldd" routerLink="/project/{{j.id}}">{{j.title}}</dd>
                </dl>
            </div>
            <br/>
            <div class="card">
                <div class="card-header">
                    <strong>Account</strong><span style="float:right" routerLink="/accounts">View All</span>
                </div>
                <dl *ngFor="let i of dataAcc">
                    <dd class="dldd" routerLink="/accounts-detail/{{i.id}}"><img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" class="avatar" />{{i.name}}</dd>
                </dl>
            </div>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>