<div class="card">
    <div class="container">
        <div class="card-header">
            <div class="row">
                <div class="col-md-3">
                    <strong>{{data.project}}</strong>
                </div>
                <div class="col-md-5">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-dark">Search</button>&nbsp;
                    <button type="button" class="btn btn-dark" routerLink="/task-new">Create Task</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <strong>Task</strong>
                </div>
                <div class="col-md-5">
                    <strong>Name</strong>
                </div>
                <div class="col-md-2">
                    <strong>Word Flow</strong>
                </div>
                <div class="col-md-3">
                    <strong>Assign</strong>
                </div>
            </div>
            <hr/>
            <div class="row" *ngFor="let i of dataTask">
                <div class="col-md-2" routerLink="/task/{{i.id}}">
                    {{i.project}}-{{i.id}}
                </div>
                <div class="col-md-5">
                    {{i.taskName}}
                </div>
                <div class="col-md-2">
                    {{i.status}}
                </div>
                <div class="col-md-3">
                    {{i.asign}}
                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>